.main{
  text-align: center;
  padding: 2rem;
}
.main h1{
  margin-bottom: 1rem;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  max-width: 300px;
  background-color: #fff;
  border-radius: 1rem;
}

.form-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 0 1rem;
}
.form-control label{
  margin-bottom: 0.6rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.form-control input{
  margin-bottom: 1rem;
  flex: 1;
  padding: 0.6rem 0.4rem;
  border: 1px solid #333;
  border-radius: 4px;
  width: 50px;
  text-align: center;
}

.submit-btn {
  padding: 0.6rem 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
}

.bloco-resultado{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.resul{
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  line-height: 30px;
}
@media (max-width: 600px) {
  .container-resultado{
    width: 90%;
  }
}